#favorites {
	float: right;
	background-color: red;
	height: 900px;
	width:	50%;
	position: relative;
	top: -25px;
	border-radius: 25px;

}

#gistList {
	float: left;
	background-color: orange;
	height: 100%;
	width: 50%;
	position: relative;
	top: -25px;
	border-radius: 25px;
	overflow: hidden;
}

#searchBar {
	float: left;
	background-color: blue;
	height: 200px;
	width: 100%;
}

.form {
	color: white;
	float: left;
}

#fav_heading {
	background-color: purple;
	padding: 40px;
	margin: 10px;
	text-align: center;
	border-radius: 25px;
}

.listing {
	/*overflow: auto;*/
	float: center;
	width: 90%;
	height: 125px;
	position: relative;
	padding:10px;
}

.description {
	position: relative;
	float: left;
	height: 10px;
	width: 80%;
	background-color: green;
	border-radius: 25px;
	text-align: center;
	padding: 20px;
}

.fav_button {
	position: relative;
	float: left;
	height: 50px;
	width: 20%;
	background-color: black;
	border-radius: 25px;
	text-align: center;

}

.language {
	position: relative;
	float: left;
	height: 10px;
	width: 60%;
	background-color: yellow;
	border-radius: 25px;
	text-align: center;
	padding: 20px;

}

.webpage {
	position: relative;
	float: left;
	overflow: auto;
	margin: 10px;
	width: 100%;
	height: 150px;
}

.portal {
	position: relative;
	float: left;
	overflow: scroll;
	height: 150px;
	width: 90%;
}
